<h1>coach answer</h1>
<% your_message = @your_message %>
<p>You asked <%= @question%></p>
<p>Coach says <%= @answer %></p>






<!-- If the message is I am going to work, the coach will answer Great!
If the message has a question mark ? at the end, the coach will answer Silly question, get dressed and go to work!.
Otherwise he will answer I don't care, get dressed and go to work!
 -->
<!--  answer = ask_answer -->
